---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig } from "@/site.config";
---

<header>
  <nav class="flex items-center justify-between h-14 mb-10">
    <div class="flex items-center">
      <a href="/" class="text-foreground tracking-tight text-xl font-semibold no-underline">
        {siteConfig.title}
      </a>
    </div>
    <ThemeToggle />
  </nav>
</header>
