---
const { prevPost, nextPost } = Astro.props;
---

<div class="flex sm:flex-row flex-col justify-between gap-3 content py-3 text-sm">
  {
    prevPost?.slug ? (
      <a
        href={`/blog/${prevPost?.slug}`}
        class="group py-3 no-underline transition-colors duration-300 ease-in-out rounded-md w-fit text-foreground/80 hover:text-foreground font-normal"
      >
        <div class="relative flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="size-5 fill-none stroke-current stroke-2"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
            />
            <polyline
              points="12 5 5 12 12 19"
              class="translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
            />
          </svg>
          <p class="font-semibold my-0!">Prev Post</p>
        </div>
        <p class="ml-7 my-0! flex items-center line-clamp-1">{prevPost?.data.title}</p>
      </a>
    ) : (
      <div class="invisible" />
    )
  }

  {
    nextPost?.slug ? (
      <a
        href={`/blog/${nextPost?.slug}`}
        class="ms-auto group py-3 no-underline transition-colors duration-300 ease-in-out rounded-md w-fit text-foreground/80 hover:text-foreground font-normal"
      >
        <div class="relative flex flex-row-reverse items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="size-5 fill-none stroke-current stroke-2"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
            />
            <polyline
              points="12 5 19 12 12 19"
              class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
            />
          </svg>
          <div class="font-semibold my-0!">Next Post</div>
        </div>
        <div class="mr-7 my-0! text-end flex justify-end line-clamp-1">{nextPost?.data.title}</div>
      </a>
    ) : (
      <div class="invisible" />
    )
  }
</div>
