---
import type { Heading } from "./TableOfContents.astro";
// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li class="my-1!">
  <a href={"#" + heading.slug}  class="decoration-dotted! underline-offset-[6px] decoration-[2px] decoration-foreground hover:opacity-80">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="my-1!">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
