---
import TableOfContents from "../../components/TableOfContents.astro";
import BlogPost from '../../layouts/Project.astro';
import BackToTop from "@/components/BackToTop.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = (await getCollection("projects"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return projects.map((project) => ({
    params: { slug: project.id },
    props: project,
  }));
}

type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { headings } = await render(project);
const { Content } = await render(project);
---

<BlogPost {...project}>
  <article class="grow break-words" data-pagefind-body>
    <div class="flex flex-col gap-10">
      {!!headings.length && <TableOfContents headings={headings} />}
      <div
        class="content"
      >
        <Content />
      </div>
    </div>
  </article>
  <br />
  <BackToTop />
  <br />
  <hr />
</BlogPost>

<script>
	const scrollBtn = document.getElementById("to-top-btn") as HTMLButtonElement;
	scrollBtn.addEventListener("click", () => {
		document.documentElement.scrollTo({ behavior: "smooth", top: 0 });
	});
</script>
