---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base.astro";
import ArrowCard from "@/components/ArrowCard.astro";

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const meta = {
	description: "A collection of my projects, with links to repositories and demos.",
	title: "Projects",
};
---

<PageLayout meta={meta}>
  <div class="space-y-10">
    <div class="mb-6 flex items-center gap-3">
      <h1 class="title">Projects</h1>
    </div>
    <ul class="animate flex flex-col gap-4">
      {
        projects.map((project) => (
          <li>
              <ArrowCard entry={project}/>
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
