---
import { getCollection, render } from "astro:content";
import PageLayout from "@/layouts/Base.astro";
import { dateRange } from "@/utils/date";

const collection = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());

const work = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await render(item);
    return { ...item, Content  };
  })
);

const meta = {
  title: "Work Experience",
  description: "Where I have worked and what I have done.",
};
---

<PageLayout meta={meta}>

	<div class="mb-6 flex items-center gap-3">
		<h1 class="title">Work Experience</h1>
	</div>
  <div class="space-y-16">
    <ul class="mt-5 mb-16">
    <ul class="flex flex-col gap-y-5">
      {work.map((entry) => (
        <li>
          <div class="text-sm opacity-75">
            {dateRange(entry.data.dateStart, entry.data.dateEnd)}
          </div>
          <div class="font-medium">{entry.data.company}</div>
          <div class="text-sm opacity-75 font-medium">{entry.data.role}</div>
          <article class="text-foreground/80 leading-7 mt-4">
            <entry.Content />
          </article>
        </li>
      ))}
    </ul>
    </ul>
  </div>
</PageLayout>
