---
import { getCollection, render } from "astro:content";
import PageLayout from "@/layouts/Base.astro";
import { dateRange } from "@/utils/date";
import { Icon } from "astro-icon/components";
import { WORK } from "@consts";

const collection = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());

const work = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await render(item);
    return { ...item, Content  };
  })
);

const meta = {
  title: "Work",
  description: "Where I have worked and what I have done.",
};
---

<PageLayout meta={meta}>

	<div class="mb-6 flex items-center gap-3">
		<h1 class="title">Work</h1>
	</div>
  <div class="space-y-16">
    <ul class="mt-5 mb-16">
      {
        work.map(entry => (
          <li class="prose dark:prose-invert">
            <div class="text-sm opacity-75">
              {dateRange(entry.data.dateStart, entry.data.dateEnd)}
            </div>
            <div class="font-semibold">
              {entry.data.company}
            </div>
            <div class="text-sm opacity-75">
              {entry.data.role}
            </div>
            <article>
               <entry.Content />
            </article>
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
