---
import { generateToc } from "@/utils/generateToc";
import type { MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---
<div class="py-4 border-y border-neutral-300 dark:border-neutral-800 prose dark:prose-invert">
  <span class="mt-0 mb-0 font-medium tracking-tight">Table of Contents:</span>
  <ol class="toc-level toc-level-1">
      {toc.map((heading) => <TOCHeading heading={heading} />)}
  </ol>
</div>
<!--<details
  open
  class="group rounded-md border input"
>
  <summary
    class="cursor-pointer rounded-t-md px-3 py-1.5 font-medium transition-colors group-open:bg-muted hover:bg-muted"
    >Table of Contents</summary
  >
  <nav>
    <ul class="py-3">
      {toc.map((heading) => <TOCHeading heading={heading} />)}
    </ul>
  </nav>
</details>-->
