---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading
} = Astro.props;
---

<li class="">
  <a href={"#" + heading.slug}  class="decoration-dotted underline-offset-[6px] decoration-[2px] hover:opacity-80">
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ul>
        {heading.children.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
