---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li class={`${depth > 2 ? "ms-2" : ""}`}>
	<a
    class={`line-clamp-2 text-foreground hover:text-blue-600 dark:hover:text-blue-400 underline underline-offset-4 hover:decoration-4 ${depth <= 2 ? "" : ""}`}
		href={`#${slug}`}><span aria-hidden="true" class="me-0.5">{text}</a
	>
	{
		!!children.length && (
			<ul class="my-2 ml-4 list-disc [&>li]:mt-2">
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
