---
import Base from '../layouts/Base.astro';

const { title, description } = Astro.props.frontmatter;
---

<Base title={title} description={description}>
  <div class="content">
    <h1>{title}</h1>
    <hr />
    <slot />
  </div>
</Base>
