---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body class="">
    <div class="relative flex min-h-svh flex-col">
      <div data-wrapper="" class="border-grid flex flex-1 flex-col">
    <Header />
    <main class="">
      <slot />
    </main>
    <Footer />
      </div></div>
  </body>
</html>
